/**** begin countdown colors ****/
.flip-clock-wrapper ul,
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-divider .flip-clock-dot {
	background-color: #FFD000;
}
.flip-clock-wrapper ul li a div div.inn {
	color: #2b2b2b;
}
/**** endof countdown colors ****/



/**** begin background colors ****/
.bg-black { background-color: #000000; }

.bg-blue { background-color: #014F86; }
.bg-blue-light { background-color: #61A5C2; }
.bg-blue-dark { background-color: #012A4A; }

.bg-red { background-color: #D00000; }
.bg-red-light { background-color: #E5383B; }
.bg-red-dark { background-color: #660708; }

.bg-yellow { background-color: #FFD000; }
.bg-yellow-light { background-color: #FFEA00; }
.bg-yellow-dark { background-color: #FFAA00; }

.bg-green { background-color: #38B000; }
.bg-green-light { background-color: #9EF01A; }
.bg-green-dark { background-color: #006400; }

.bg-orange { background-color: #FF6D00; }
.bg-orange-light { background-color: #FF9E00; }
.bg-orange-dark { background-color: #FF4800; }

.bg-purple { background-color: #5A189A; }
.bg-purple-light { background-color: #9D4EDD; }
.bg-purple-dark { background-color: #240046; }

.bg-brown { background-color: #C25A00; }
.bg-brown-light { background-color: #F1AC4C; }
.bg-brown-dark { background-color: #3D1C00; }

.bg-grey { background-color: #495057; }
.bg-grey-light { background-color: #ADB5BD; }
.bg-grey-dark { background-color: #212529; }

.bg-gold { background-image: linear-gradient(#fdda16, #f0ae2c); }

.bg-dark { background-color: #3a3a3a !important; }

.text-gold {
	color: #fdda16 !important;
}
.text-danger {
	color: #efff00 !important;
}
/**** endof background colors ****/



/**** begin custom style ****/
html,body {
    margin: -7px 0 0 0;
    padding: 0;
    background: #101010 !important;
}

header {
    position: relative;
	background: linear-gradient(to bottom, #3a3a3a, #0b0b0b);
	border-bottom: 10px solid #daa520;
}
header .navbar.navbar-common {
	background-color: #daa520;
	border-radius: 8px;
}
header .navbar.navbar-common .nav-item .nav-link {
	color: #422800 !important;
	font-weight: 700;
}
header .navbar.navbar-common button {
	outline: none !important;
}
header .navbar.navbar-common .nav-item.active .nav-link,
header .navbar.navbar-common .nav-item:hover .nav-link {
	color: #f5f5f5 !important;
}
header .navbar.navbar-extend .nav-item.active,
header .navbar.navbar-extend .nav-item:hover {
	background-color: #daa520;
	border-radius: 8px 8px 0 0;
}
header .navbar.navbar-extend .nav-item .nav-link {
	color: #f5f5f5 !important;
	font-weight: 500;
	font-size: 18px;
}
header .navbar.navbar-extend .nav-item.active .nav-link,
header .navbar.navbar-extend .nav-item:hover .nav-link {
	color: #422800 !important;
}

section {
	position: relative;
}
section.content {
	min-height: 400px;
}
section.content .card.card-result {
	max-width: 400px;
	margin: 0 auto;
	border-radius: 8px;
	background: #222222;
}
section.content .card.card-result .card-header {
	background: linear-gradient(to bottom, #3a3a3a, #0b0b0b);
	border-radius: 8px 8px 0 0;
	color: #f5f5f5;
}
section.content .card.card-result .card-header .logo {
    width: 80px;
    height: 70px;
    margin: -10px 0px 0px 30px;
}
section.content .card.card-result .card-body .winner,
section.content .card.card-result .card-body .subwinner {
	font-size: 20px;
	font-weight: 700;
}
section.content .card.card-result .card-footer {
	border-radius: 0 0 8px 8px;
}
section.content .card.card-content {
	margin: 0 auto;
	border-radius: 8px;
	background: #222222;
}
section.content .card.card-content .card-header {
	background: linear-gradient(to bottom, #3a3a3a, #0b0b0b);
	border-radius: 8px 8px 0 0;
	color: #f5f5f5;
}
section.content .card.card-history {
	margin: 0 auto;
	border-radius: 8px;
	background: #222222;
}
section.content .card.card-history .card-header {
	background: linear-gradient(to bottom, #3a3a3a, #0b0b0b);
	border-radius: 8px 8px 0 0;
	color: #f5f5f5;
}
section.content .card.card-history .card-body ul.list-group {
	border-radius: 0 0 8px 8px;
}
section.content .card.card-history .card-body ul.list-group li.list-group-item:last-child {
	border-radius: 0 0 8px 8px;
}

footer {
	position: relative;
}
footer .card.card-banner {
	border-radius: 8px;
}
footer .card.card-banner .card-body {
	border-radius: 8px 8px 0 0;
}
footer .card.card-banner .card-body .banner-title {
	font-size: 16px;
}
footer .card.card-banner .card-body .banner-info {
	font-size: 12px;
}
footer .card.card-banner .card-footer {
	border-radius: 0 0 8px 8px;
}
/**** endof custom style ****/



/**** begin default element ****/
table tr td {
	vertical-align: middle !important;
}

.pagination .page-item {
	outline: none !important;
}
.pagination .page-item .page-link {
	background: #0b0b0b;
	color: #f5f5f5;
	outline: none !important;
}
.pagination .page-item.active .page-link {
	outline: none !important;
	background: #efff00 ;
	border-color: #97700b;
	color: #1b1b1b;
}
/**** endof default element ****/



/**** begin responsive style ****/
@media (min-width: 993px) {
	.container {
		max-width: 1024px;
	}

	header {
		border-top: 10px solid #daa520;
		border-bottom: 10px solid #daa520;
	}
	header .navbar.navbar-common {
		margin-top: -2px;
		border-radius: 0 0 8px 8px;
	}
	header .navbar.navbar-common .nav-item .nav-link {
		font-size: 13px;
	}
	header .navbar.navbar-common .nav-item:first-child {
		display: none;
	}
	header .navbar.navbar-extend .nav-item {
		padding: 5px;
		margin-right: 5px;
	}
	header .navbar.navbar-extend .nav-item:last-child {
		margin-right: 0;
	}
	header .navbar.navbar-extend .nav-item:last-child .nav-link {
		border: none;
	}
	header .navbar.navbar-extend .nav-item .nav-link {
		font-size: 14px;
	}

	section.content {
		background: url();
		background-position: top center;
		background-repeat: no-repeat;
		background-clip: content-box;
		background-size: contain;
	}

	footer .card.card-banner .card-body .banner-title {
		font-size: 14px;
	}
}
/**** endof responsive style ****/
